<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/veiws/style.css">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shradhesh | Home</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class="fa fa-bars" id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#project">Project</a>
            <a href="#certificate">Certificate</a>
            <a href="#contact">Contact</a>
        </nav>  
</header>

<section class="home" id="home">
    <div class="home-content">
        <h3>Hello.It's Me</h3>
        <h1>Shradesh Jodawat</h1>
        <h3>And I,m a <span class="multiple-text"></span></h3>
        <p>I am currently a sophomore at IIIT Surat, pursuing B.Tech in Electronics and Communication Engineering. I also hold the position of Campus Ambassador for Rendezvous '23-'24 at IIT Delhi.</p>

    <div class="social-media">
        <a href="https://github.com/Shradhesh71"class="fa fa-github fa-lg" title="Github"></a>
        <a href="https://www.instagram.com/shradesh_jain71/" class="fa fa-instagram fa-lg" title="Instagram"></a>
        <a href="https://auth.geeksforgeeks.org/user/shradesh1r1n" ><img src="/static/icons8-geeksforgeeks-48 (1).png"></a>
        <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/"class="fa fa-linkedin fa-lg" title="LinkedIn"></a>
    </div>
    <a href="#" class="btn">Download CV</a>
</div>
    <div class="home-img">
        <img src="http://drive.google.com/uc?export=view&id=1H2977Yp8dQJsRzpoVNH4CXOeSmnu756c" alt="image">
     </div>
</section>
<!-- https://drive.google.com/file/d/1R0tw4C2gM4qOxUgKhu0UfHhc_sWvSA0p/view?usp=sharing 
https://drive.google.com/file/d/1H2977Yp8dQJsRzpoVNH4CXOeSmnu756c/view?usp=sharing-->
<section class="about" id="about">
    <div class="about-img">
        <img src="http://drive.google.com/uc?export=view&id=1H2977Yp8dQJsRzpoVNH4CXOeSmnu756c" alt="image">
     </div>
    
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Developer!</h3>
        <p>I am a sophomore pursuing a B.Tech in Electronics and Communication Engineering at IIIT Surat. 
            Currently serving as the Campus Ambassador for Rendezvous '23-'24 at IIT Delhi and for Geeks for Geeks, 
            I am also a Junior Developer at Google Developer Student Clubs, specializing in backend development. 
            My commitment to excellence is reflected in the impactful projects I undertake, showcasing not only technical 
            proficiency but also a passion for innovation. Eager to contribute my skills and enthusiasm, 
            I am dedicated to making a lasting impact in the realm of technology.</p>
        <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/" class="btn">Read More</a>
    </div>
</section>

<section class="project" id="project">
    <span class="project-heading">Project</span><br>
    <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 7</div>
      <img src="/static/project_game.jpeg" >
      <div class="text" style="width: 25%;"><a href="https://github.com/Shradhesh71/Game_Xplore/tree/master">Game Explore</a></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 7</div>
      <img src="/static/project_chatting.png" >
      <div class="text"style="width: 25%;">Web chatting</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 7</div>
      <img src="/static/project_blogging.png" >
      <div class="text"style="width: 25%;">Blogging App</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 7</div>
        <img src="/static/project_portfolio.jpg" >
        <div class="text" style="width: 25%;"><a href="https://github.com/Shradhesh71/Portfolio">Portfolio</a></div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">5 / 7</div>
        <img src="/static/project_toDoList.jpg" >
        <div class="text"style="width: 25%;"><a href="https://github.com/Shradhesh71/To-do-list">To do list</a></div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">6 / 7</div>
        <img src="/static/project_travel.jpg" >
        <div class="text"style="width: 25%;">Travel Website</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">7 / 7</div>
        <img src="/static/project_weather.jpg" >
        <div class="text"style="width: 25%;"><a href="https://github.com/Shradhesh71/Weather/tree/master">Weather Website</a></div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/"><button class="bn30">More Project</button></a>
</section>

<section class="certificate" id="certificate">
    <span class="project-heading">Certificate</span><br><br>
    <div class="slideshow-containerr">

        <!-- Full-width images with number and caption text -->
        <div class="mySlidess fade">
          <div class="numbertext">1 / 6</div>
          <img src="/static/certi_hackodisha.png" >
          <div class="text">Hack Odisha</div>
        </div>
      
        <div class="mySlidess fade">
          <div class="numbertext">2 / 6</div>
          <img src="/static/GuviCertification - 9Z49091j96K4970DVy.png" >
          <div class="text">Python</div>
        </div>
      
        <div class="mySlidess fade">
          <div class="numbertext">3 / 6</div>
          <img src="/static/certi_LLM.png" >
          <div class="text">Google LLM</div>
        </div>
        <div class="mySlidess fade">
            <div class="numbertext">4 / 6</div>
            <img src="/static/certi_forage.jpg" >
            <div class="text">Forage</div>
        </div>
        <div class="mySlidess fade">
            <div class="numbertext">5 / 6</div>
            <img src="/static/certi_cloud.png" >
            <div class="text">Google Cloud</div>
        </div>
        <div class="mySlidess fade">
            <div class="numbertext">6 / 6</div>
            <img src="/static/certi_AlW0Cloud.png" >
            <div class="text">Al with Cloud</div>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlidess(-1)">&#10094;</a>
        <a class="next" onclick="plusSlidess(1)">&#10095;</a>
      </div>
      <br><br>
    <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/"><button class="bn30">More Certificate</button></a>
</section>

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
    <form action="/" method="post" id="form-mainP">
        <div class="input-box">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email address" required>
        </div>
        <div class="input-box">
            <input type="number" name="mobile" placeholder="Mobile number" required>
            <input type="text" name="emailsub" placeholder="Email Subjet" >
        </div>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>

<footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/"> <span class="footer-span">Shradhesh</span> </a>| All Rights Reserved</p>
    </div>

    <div class="footer-iconTop">
        <a href="#home"> <i style='font-size:24px' class='far'>🚀</i></a>
    </div>
</footer>
<!-- scroll reveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<!-- type.js -->
<script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="/veiws/index.js"></script>
</body>
</html>